<a href="https://colab.research.google.com/github/Jidonghun/K-digital-BigData-analysis/blob/main/%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 반복문

#### 리스트

##### 데이터 Type
 * 숫자 데이터
    - 소수점이 있는 숫자형 데이터
    - 소수점이 없는 숫자형 데이터
 * 문자열 데이터
 * 부울 데이터

 * 리스트: 숫자형 또는 문자열 형 등 다양한 요소를 여러 개 저장할 수 있는 데이터

```python
list_a = [1, 2, 3]   # 숫자 요소들로만 구성된 리스트(list)
list_b = [1, 2. 3.14]

list_c = ['a', 'b', 'c']   #문자열 요소들만으로 구성된 리스트(list)
list_d = ['a', 'abc, 'c']

list_e = [ 1, 2, 3.14, 'a', 'abc', 'c'] # 숫자와 문자열 데이터가 썩인 리스트
list_f = [1, 3.14, 'a', 'boy', True]
```

#### <font color=blue>리스트</font> 선언하고 요소에 접근하기

 * 리스트 데이터의 생성: 각 요소를 쉼표(,)로 구분하고 모든 요소를 대괄호([ ])로 감싸기

  ```python
     a_list = [ 'b', 'o', 'y' ]
  ```

 * 리스트의 요소가 없는 리스트를 **빈 리스트**라고 부른다

  ```python
     empty_list = []
  ```

In [ ]:
a_list = ['b', 'o', 'y']
print(a_list)           # 리스트 형 데이터, a_list가 가지고 있는 데이터을 출력
print( type(a_list) )   # a_list가 어떤 형태의 데이터를 보관하는 녀석인지 확인, "a_list 너 어떤 데이터를 다루냐?"
print( a_list[0] )

['b', 'o', 'y']
<class 'list'>
b

<br><br>
<center>
인덱스 부여 방식  

|요소|'b'|'o'|'y'|
|:-:|:-:|:-:|:-:|
|인덱스|0|1|2|
</center>

In [ ]:
print( a_list[0] )
print( a_list[1] )
print( a_list[2] )

b
o
y

In [ ]:
name_list = ['짱구', '철수', '유리', '맹구', '훈이']

what = name_list[2][0]
print(what)

the_name = name_list[2]   # 'the_name'은 문자열 데이터
what = the_name[0]
print(what)

유
유

In [ ]:
name_list = ['짱구', '철수', '유리', '맹구', '훈이']
year_list = [1967, 1968, 1973, 1968, 1963]

print( name_list[0] + '님은 {}'.format(year_list[0]) + '년도 생입니다')
print( name_list[1] + '님은 {}'.format(year_list[1]) + '년도 생입니다')

짱구님은 1967년도 생입니다
철수님은 1968년도 생입니다

In [ ]:
name_list = ['짱구', '철수', '유리', '맹구', '훈이', '수지']
year_list = [1967, 1968, 1973, 1968, 1963, 1981]

idx = 1
print( name_list[idx] + '님은 {}'.format(year_list[idx]) + '년도 생입니다')

철수님은 1968년도 생입니다

```python
list_a = ['b', 'o', 'y', '&', 'g', 'i', 'r', 'l']
```

<br>
<center>
인덱스 부여 방식  

|요소|'b'|'o'|'y'|'&'|'g'|'i'|'r'|'l'|
|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|:-:|
|인덱스|0|1|2|3|4|5|6|7|
|인덱스|-8|-7|-6|-5|-4|-3|-2|-1|

</center>
<br>

In [ ]:
lst = ['a', ['b', 'c'], 'd', 'e']
second_element = lst[1]

print( lst[1][0] )
print( lst[1][1] )

#### 리스트 연결하기: 연결(+), 반복(*), len()
 * 숫자형 데이터와 숫자형 데이터는 덧셈 연산이 당연히 가능하고 덧셈 기호로 '+'를 사용

  ```python
     x = 1
     y = 2
     z = x + y
     print(x)
  ```

 * 숫자형 데이터 끼리 덧셈, 뺄셈, 곱셉, 나눗셈이 가능하며 덧셈과 뺄셈에 대한 연산자 기호는 +, -를 사용하고 곱셈과 나눗셈 기호는 *, /를 사용

 * <font color=blue>리스트 형 데이터에서도 +, * 연산자가 있는데 리스트 형 데이터에서 이 두 연산자의 의미는 사칙연산에서 덥셈과 곱셈과 다르다. </font>

In [ ]:
list_x = [1, 3.1415, 'abc']
list_y = ['girl', 'boy']

list_z = list_x + list_y

print(list_z)

[1, 3.1415, 'abc', 'girl', 'boy']

`리스트 + 리스트`는 <font color=blue>하나의 리스트를 생성</font>하는데 두 리스트를 <font
color=blue>연결(결합)한 리스트</font>가 된다.

In [ ]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
[1, 2, 3] * 2

[1, 2, 3, 1, 2, 3]

꽤나 빈번하게 쓰이는 `len()`함수가 있습니다. 이 함수는 <font color=blue>"요소의 개수"(리스트의 길이)</font>를 반환합니다.

In [ ]:
len( [1, 2, 3] )

3

In [ ]:
len( [1, 2, 3] * 2 )

6

In [ ]:
len( [1, 2, 3] + [4, 5])

5

In [ ]:
lst = [1, 3.1415, 'boy', [25.4, 11.5]]
print( len(lst) )
print( lst[0] )
print( lst[1] )
print( lst[2] )
print( lst[3] )   # lst[-1]

4

#### 리스트에 요소 추가하기: append(), insert()
```python
리스트_데이터.append(추가할 요소)
```
`append()`함수는 매우 자주 사용
`append()`함수가 하는 기능은 해당 리스트 형 데이터의 맨 마지막에 `추가할 요소`를 추가합니다.
<font color=red>한마디로 리스트의 맨 마지막에 요소를 추가</font>

In [ ]:
lst = [1, 2, 3]
lst.append('boy')
print( lst )

[1, 2, 3, 'boy']

`insert(인덱스, 추가할 요소)`함수는 리스트의 원하는 인덱스 위치에 추가할 요소를 끼워 넣는다

In [ ]:
lst = [1, 2, 3]
lst.insert(0, 0)    # lst의 인덱스 0 위치에 숫자 데이터 0을 끼워넣어라라
print( lst )

[0, 1, 2, 3]

#####◃참고▹ extend() 함수
`append()`나 `insert()`는 요소 하나를 리스트에 집어 넣는다. 한번에 여러 요소를 추가하고 싶을 때는 'extend()'함수 이용

In [ ]:
lst = [1, 2, 3]
lst.extend([4, 5, 6])
print(lst)

[1, 2, 3, 4, 5, 6]

In [ ]:
lst = [1, 2, 3]
lst_extend = ['a', 'b']
lst.extend( lst_extend )

print(lst)

[1, 2, 3, 'a', 'b']

In [ ]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]
list_c = list_a + list_b

print( list_a + list_b)   # 비파괴적 처리
print( list_c )

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [ ]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]

list_a.extend(list_b)  # 파괴적 처리

print( list_a )

[1, 2, 3, 4, 5, 6]

In [ ]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]
list_a += list_b     #list_a = list_a + list_b
print( list_a )

[1, 2, 3, 4, 5, 6]

####Quiz

아래와 같이 3명에 대한 정보가 담긴 메시지를 받았습니다.
```python
'짱구, 남, 17, 경기도 화성시, 010-9105-0000\n유리, 여, 18, 경기도 용인시, 010-9105-1111\n맹구, 남, 19, 경기도 수원시, 010-1111-2222'`
```

주성치의 주소를 출력하는 코드를 작성하세요.

In [ ]:
msg = '짱구, 남, 17, 경기도 화성시, 010-9105-0000\n유리, 여, 18, 경기도 용인시, 010-9105-1111\n맹구, 남, 19, 경기도 수원시, 010-1111-2222'

print(msg)
lst = msg.split('\n')
print(lst)

tar = lst[2]
print(ta``r)

inf = tar.split(',')
print(inf)
print(inf[3])

짱구, 남, 17, 경기도 화성시, 010-9105-0000
유리, 여, 18, 경기도 용인시, 010-9105-1111
맹구, 남, 19, 경기도 수원시, 010-1111-2222
['짱구, 남, 17, 경기도 화성시, 010-9105-0000', '유리, 여, 18, 경기도 용인시, 010-9105-1111', '맹구, 남, 19, 경기도 수원시, 010-1111-2222']
맹구, 남, 19, 경기도 수원시, 010-1111-2222
['맹구', ' 남', ' 19', ' 경기도 수원시', ' 010-1111-2222']
 경기도 수원시

####<font color=blue>Quiz</font>
유리의 전화 번호를 출력하는 코드를 작성하시오.

In [ ]:
msg = '짱구, 남, 17, 경기도 화성시, 010-9105-0000\n유리, 여, 18, 경기도 용인시, 010-9105-1111\n맹구, 남, 19, 경기도 수원시, 010-1111-2222'

lst = msg.split('\n')
tar = lst[1]
ifm = tar.split(',')
num = ifm[4]
print(num)

 010-9105-1111

####<font color=blue>Quiz</font>

다음 리스트의 각 요소를 모두 합쳐서 하나의 문자열 데이터로 변환하는 코드를 작성하시오.

```python
lst = ['짱구', '남', 17, '경기도 화성시']
```

`'짱구, 남, 17, 경기도 화성시'`와 같이 하나의 문자열로 변환하는 코드를 작성하시오.

In [ ]:
lst = ['짱구', '남', 17, '경기도 화성시']
msg=''

for element in lst:
  msg += element if type(element) is str else str(element)
  msg += ', '
msg = msg[:-2]

print(msg)

짱구, 남, 17, 경기도 화성시

### 리스트의 요소 제거하기

 * 인덱스를 이용하여 제거
 * 요소의 값을 이용하여 제거

#### <ins>인덱스로 제거하기: del 키워드, pop()</ins>
```python
del 리스트_이름[인덱스]
```
```python
리스트_이름.pop(인덱스)
```

 또 리스트에서 인덱스의 범위를 지정하여 해당 요소들을 삭제할 수 있다.

```python
리스트_이름[시작_인덱스:끝_인덱스:증감_폭]
```

In [ ]:
lst = [1, 2, 3, 4, 5]

del lst[0]
print(lst)

[2, 3, 4, 5]

In [ ]:
lst = [1, 2, 3, 4, 5]

lst.pop(2)
print(lst)

[1, 2, 4, 5]

In [ ]:
lst = [1, 2, 3, 4, 5]

pop_data = lst.pop(0)   # 리스트의 맨 앞 요소를 빼서
lst.append(pop_data)    # 리스트의 맨 뒤에 붙이기기

pop_data = lst.pop(0)
lst.append(pop_data)

print( lst )

[3, 4, 5, 1, 2]

In [ ]:
lst = [1, 2, 3, 4, 5]
del lst[0:3]
print( lst )

[4, 5]

In [ ]:
lst = [1, 2, 3, 4, 5]
del lst[:3]           #'증감_값'이 생략되어 기본 설정 값 1로 인식하는 상황에서 인덱스 시작 위치를 지정하지 않으면 시작 위치는 0으로 인식합니다.
print( lst )

lst = [1, 2, 3, 4, 5]
del lst[:3:]           #'증감_값'이 생략되어 기본 설정 값 1로 인식하는 상황에서 인덱스 시작 위치를 지정하지 않으면 시작 위치는 0으로 인식합니다.
print( lst )

[4, 5]
[4, 5]

 * **`lst[n:]`형태로 `lst[n::]`과 같은 의미이며 `lst[n::]`에서 `증감_값`이 생략되었기 때문에 기본 설정된 `증감_값`으로 1이 적용된다.**

In [ ]:
lst = [1, 2, 3, 4, 5]
del lst[2:]
print( lst )

lst = [1, 2, 3, 4, 5]
del lst[2::]
print( lst )

[1, 2]
[1, 2]

##### ◃참고▹ 리스트 슬라이싱(slicing)

**슬라이싱**: 리스트에 [:] 연산자를 적용하여 일부 요소들만 선택하는 기법, 선택한 요소에 대한 인덱스를 지정해서 해당 요소만 분리 추출

```python
list_name[start:end:step]
```
위 코드는 `list_name` 리스트 데이터에서 `[start:end:step]`에서 지정한 인덱스 범위에 해당하는 요소만 추출한다는 의미이다.
인덱스 범위 지정을 위해 시작 인덱스 값은 `start`에 지정하고 인덱스 범위의 끝 인덱스 값 보다 하나 더 큰 값을  `end`에 지정한다. 그리고 시작 인덱스부터 인덱스 즘감 폭을 `step`에 지정한다.

```python
lst = ['a', 'b', 'c', 'd', 'e']
print( lst[0:5:2] )
```
위 코드 블록에서 `start`는 0이고 `end`는 5이며 `step`은 2이고 인덱스 범위는 0부터 4까지로 인덱스 증감 폭이 2이니까 각 인덱스 값은 0, 2, 4 따라서 이 인덱스 범위에 해당하는 요소의 값은 'a', 'c', 'e'이다.

In [ ]:
lst = ['a', 'b', 'c', 'd', 'e']
print( lst[0:5] )
print( lst[0:5:2] )

['a', 'b', 'c', 'd', 'e']
['a', 'c', 'e']

아래 코드 셀에서는 `lst[::]`형태의 코드가 보인다. `lst[::2]`의 경우 인덱스 범위는 전체인데 `step`에 해당하는 값이 2이므로 선택된 인덱스 값은 '0, 2, 4, ... 마지막 인덱스'이다.

In [ ]:
lst = [1, 2, 3, 4, 5]
print( lst[::2] )           # 인덱스 범위의 시작은 인덱스 0부터 인덱스 2, 인덱스 4까지입니다.
                            # 끝 인덱스가 4입니다.

[1, 3, 5]

아래 코드는 `start`는 0이고 `end`는 11이니 고려하는 범위 내의 인덱스는 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10이다. 그런데 `step`이 -2이다. 0부터 -2씩 증가해서 10에 도달할 수 없다. 리스트에서 요소를 추출하기 위해 인덱스 범위를 결정해야 하는데 인덱스 범위가 빈 리스트이다. 그래서 요소를 선택할 수 없다.

In [ ]:
lst = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']
print(lst[0:11:-2])

[]

#### <ins>값 제거하기: remove()</ins>
값을 지정하여 해당 요소를 삭제하는 것

In [ ]:
lst = [1, 2, 3]
lst.remove(2)
print( lst )

[1, 3]

#### <ins>모두 제거하기:clear()</ins>

In [ ]:
lst = ['a', 'b', 'c']
lst.clear()
print( lst )

[]

#### 리스트 정렬하기: sort()
리스트의 요소를 정렬하려고 할 때 `sort()`함수를 사용하고 기본 정렬 방식은 오름차순으로 설정

In [ ]:
lst = [1, 3, 2, 0]
lst.sort()
print( lst )

[0, 1, 2, 3]

#### 리스트 내부에 있는지 확인하기: in/not in 연산자
`in`연산자와 `not in`연산자를 사용하여 리스트 안에 특정 요소가 있는지 없는지 파악

In [ ]:
lst = ['아반데', '소나타','그랜저' ]
print( 'K5' in lst )
print( '그랜저' in lst )

False
True

In [ ]:
hyundai_motor_list = ['아반데', '소나타','그랜저' ]
name_car = 'K5'
if name_car in hyundai_motor_list:
  print('{}는 현대자동차사의 차량입니다'.format(name_car))
else:
  print('{}는 현재자동차사의 차량이 아닙니다'.format(name_car))

K5는 현재자동차사의 차량이 아닙니다

### for 반복문

 * for 반복문: 리스트와 함께 사용하기


```python
for each_element in [0, 1, 2]:
  print(each_element)
```

In [ ]:
for each_element in [0, 1, 2]:
  print(each_element)

0
1
2

In [ ]:
for index in [0, 1, 2]:
  print( '사랑해' )

사랑해
사랑해
사랑해

In [ ]:
for index in [0, 1, 2]:
  print( '사랑해'[index] )

사
랑
해

```python
for each_element in [0, 1, 2]:
  print(each_element)
```
위와 같은 형태의 코드를 살펴봤다. 위 코드에서 `in` 뒤에 오는 것은 리스트 형 데이터이다. 그래서 해석을 "리스트 형 데이터 `[1, 2, 3]` 안(`in`)에 있는 각각의 요소에 대해서~"이라고 해석을 했었다.

```python
for each_element in ['a', 'b', 'c']:
  print(each_element)
```
위와 같은 코드를 해서 한글로 해석 한다면 앞서와 마찬가지로 "리스트 형 데이터 `['a', 'b', 'c']` 안(`in`)에 있는 각각의 요소에 대해서~"로 해석할 수 있다.

In [ ]:
name_list = ['철수', '유리', '맹구', '훈이']

for name in name_list:
  print(name)

철수
유리
맹구
훈이

In [ ]:
for each_element in [0, 1, 2]:
  print(each_element)
  print( '{}번째 작업이 완료 되었습니다'.format(each_element + 1) )
  print('---'*30)
  print()

print('모든 작업이 끝났습니다.')

0
1번째 작업이 완료 되었습니다
------------------------------------------------------------------------------------------

1
2번째 작업이 완료 되었습니다
------------------------------------------------------------------------------------------

2
3번째 작업이 완료 되었습니다
------------------------------------------------------------------------------------------

모든 작업이 끝났습니다.


```python
for each_element in X:
  print(each_element)
```
바로 위 코드에서 `X`가 꼭 리스트 형 데이터여야 하는 것은 아니다. <font color=blue>**iterable한 데이터**</font>면 된다. iterable를 '반복 가능한'으로 해석한다. '반복 가능한 데이터'는 둘 이상의 요소를 갖는 데이터다라고 생각하면 된다.

`range(N)` 함수: 0부터 N-1까지의 둘 이상의 정수를 생성하는 함수.

```python
range([start,]end[,step])
```

In [ ]:
r = range(1, 10)
rr = list(r)
print(rr)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
r = range(0, 10, 2)
rr = list(r)
print(rr)

[0, 2, 4, 6, 8]

In [ ]:
name_list = ['철수', '유리', '맹구', '훈이']

for name in name_list:
  print(name)

print('---'*2)

for index in range(len(name_list)):
  print(name_list[index])

철수
유리
맹구
훈이
------
철수
유리
맹구
훈이


### 중첩 리스트와 중첩 반복문

 * 중첩 리스트: 리스트 데이터가 리스트 데이터를 요소로 갖는 경우

  ```python
    lst = [ [1, 2], [3, 4], [5, 6] ]
  ```

In [ ]:
lst = [ [1, 2], [3, 4], [5, 6] ]
print( len(lst) )

3

In [ ]:
for each_element in lst:
  print(each_element)

[1, 2]
[3, 4]
[5, 6]

In [ ]:
lst = [ [1, 2, '해운대'], ['a', 'b', 'c'], [3, 4, 5, 6], [0, 3.14], ['철수', '유리', '맹구', '훈이'] ]
print(lst)

lst = [
    [1, 2, '해운대'],
    ['a', 'b', 'c'],
    [3, 4, 5, 6],
    [0, 3.14],
    ['철수', '유리', '맹구', '훈이']
    ]
print(lst)

[[1, 2, '해운대'], ['a', 'b', 'c'], [3, 4, 5, 6], [0, 3.14], ['철수', '유리', '맹구', '훈이']]
[[1, 2, '해운대'], ['a', 'b', 'c'], [3, 4, 5, 6], [0, 3.14], ['철수', '유리', '맹구', '훈이']]

In [ ]:
lists = [
    [1, 2, '해운대'],
    ['a', 'b', 'c'],
    [3, 4, 5, 6],
    [0, 3.14],
    ['철수', '유리', '맹구', '훈이']
    ]


for each_list in lists:
  for each_element in each_list:
    print(each_element)
  print('---'*10)

print('작업 완료~!')

1
2
해운대
------------------------------
a
b
c
------------------------------
3
4
5
6
------------------------------
0
3.14
------------------------------
철수
유리
맹구
훈이
------------------------------
작업 완료~!

###Quiz
 * 구구단 프로그램

In [ ]:
for i in range(1,10):
  print('2 X {} = {}'.format(i, 2*i))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [ ]:
for i in range(1,10):
  for j in range(2,10):
    print('{} X {} = {}\t'.format(j, i, j*i), end='')
  print()

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

In [ ]:
for i in range(9,0,-1):
  for j in range(9,1,-1):
    print('{} X {} = {}\t'.format(j, i, j*i), end='')
  print()

9 X 9 = 81	8 X 9 = 72	7 X 9 = 63	6 X 9 = 54	5 X 9 = 45	4 X 9 = 36	3 X 9 = 27	2 X 9 = 18
9 X 8 = 72	8 X 8 = 64	7 X 8 = 56	6 X 8 = 48	5 X 8 = 40	4 X 8 = 32	3 X 8 = 24	2 X 8 = 16
9 X 7 = 63	8 X 7 = 56	7 X 7 = 49	6 X 7 = 42	5 X 7 = 35	4 X 7 = 28	3 X 7 = 21	2 X 7 = 14
9 X 6 = 54	8 X 6 = 48	7 X 6 = 42	6 X 6 = 36	5 X 6 = 30	4 X 6 = 24	3 X 6 = 18	2 X 6 = 12
9 X 5 = 45	8 X 5 = 40	7 X 5 = 35	6 X 5 = 30	5 X 5 = 25	4 X 5 = 20	3 X 5 = 15	2 X 5 = 10
9 X 4 = 36	8 X 4 = 32	7 X 4 = 28	6 X 4 = 24	5 X 4 = 20	4 X 4 = 16	3 X 4 = 12	2 X 4 = 8
9 X 3 = 27	8 X 3 = 24	7 X 3 = 21	6 X 3 = 18	5 X 3 = 15	4 X 3 = 12	3 X 3 = 9	2 X 3 = 6
9 X 2 = 18	8 X 2 = 16	7 X 2 = 14	6 X 2 = 12	5 X 2 = 10	4 X 2 = 8	3 X 2 = 6	2 X 2 = 4
9 X 1 = 9	8 X 1 = 8	7 X 1 = 7	6 X 1 = 6	5 X 1 = 5	4 X 1 = 4	3 X 1 = 3	2 X 1 = 2

##### ◃참고▹ 전개 연산자: *

######<ins>첫째, 리스트 내부에서 사용하는 경우</ins>  
`a` 리스트의 요소가 1, 2, 3일 때 `b` 리스트 내부에 `*a`라고 입력하면 `a` 리스트의 요소를 전개

In [ ]:
a = [1, 2, 3]
b = [*a, *a]
print( b )

[1, 2, 3, 1, 2, 3]

#### 딕셔너리
 * 딕셔너리(dictonary)는 '키(key)를 기반으로 값(value) 저장하는 데이터 형태'

```python
  {
  "key_A':10,   #문자열을 Key로 사용
  "Key_B':20,
  1:40,         #숫자를 Key로 사용
  False:50      #부울 값을 키로 사용
  }
```

#### <font color=blue>딕셔너리 선언하기</font>
딕셔너리는 중괄호({})로 선언하며, key:value 형태로 한 요소가 생성되며 쉼표(,)로 key:valeu 쌍을 구분한다. 그리고 빈(empty) 리스트 데이터를 선언했던 것과 유사하게 빈(emtpy) 딕셔너리 데이터를 선언할 수 있다.

```python
empty_list = []
empty_dic = {}
```

In [ ]:
a_dic = {
    'name':'짱구',
    'address': '경기도 화성시',
    'age': 17
}

#### <font color=blue>딕셔너리 요소(key:**value**)에 접근하기</font>

In [ ]:
a_dic = {
    'name':'짱구',
    'address': '경기도 화성시',
    'age': 17
}

print(a_dic)

print( a_dic['name'] )
print( a_dic['address'] )
print( a_dic['age'] )

{'name': '짱구', 'address': '경기도 화성시', 'age': 17}
짱구
경기도 화성시
17

In [ ]:
persion = {
    'name':'짱구',
    'address': '경기도 화성시',
    'age': 17,
    'car': ['붕붕이', '쌩쌩이']
}

print( persion['name'] )
print( persion['car'] )

짱구
['붕붕이', '쌩쌩이']

In [ ]:
cars = persion['car']
print( cars )
print( cars[0] )
print( cars[1] )

print( persion['car'][0] )      # car = presion['car']
print( persion['car'][1] )

['붕붕이', '쌩쌩이']
붕붕이
쌩쌩이
붕붕이
쌩쌩이

In [ ]:
my_dic = {
    'boy': ['소년', '남자 아이', '(어린)아들'],
    'girl': ['소녀', '여자 아이', '딸'],
    'computer': {
        'cpu': '중앙처리장치',
        'memory':'기억장치'
    }
}

mean = my_dic['boy']
print( mean[0] )
print( mean[1] )
print( mean[2] )

print('--- 구분선 ---')

for element in mean:
  print(element)

print('--- 구분선 ---')

for explanation in my_dic['boy']:
  print(explanation)

소년
남자 아이
(어린)아들
--- 구분선 ---
소년
남자 아이
(어린)아들
--- 구분선 ---
소년
남자 아이
(어린)아들

#### <font color=blue>딕셔너리에 값 추가하기/제거하기</font>
딕셔너리에 값(value)을 추가할 때는 키(key)와 함께  저장해야 한다.

```python
딕셔너리_이름[새로운_키]= 새로운_값
```

In [ ]:
my_dic = {
    'boy': ['소년', '남자 아이', '(어린)아들'],
    'girl': ['소녀', '여자 아이', '딸'],
    'computer': {
        'cpu': '중앙처리장치',
        'memory':'기억장치'
    }
}

my_dic['AI'] = 'artificial intelligence'

print(my_dic)

{'boy': ['소년', '남자 아이', '(어린)아들'], 'girl': ['소녀', '여자 아이', '딸'], 'computer': {'cpu': '중앙처리장치', 'memory': '기억장치'}, 'AI': 'artificial intelligence'}

In [ ]:
my_dic['boy'] = '소년'

print(my_dic)

{'boy': '소년', 'girl': ['소녀', '여자 아이', '딸'], 'computer': {'cpu': '중앙처리장치', 'memory': '기억장치'}, 'AI': 'artificial intelligence'}

#### 딕셔너리 내부에 키(key)가 있는지 확인하기

#### <ins>in 키워드</ins>
딕녀서리 데이터 내부에 특정 키로 접근이 가능한지를 확인하기 위해 `in` 키워드를 사용할 수 있다.

In [ ]:
dic = {
    'name':'짱구',
    'age': 17,
    'address':'경기도 화성시'
}
key = 'income'

if key in dic:
  print(dic[key])
else:
  print('존재하지 않은 key에 접근하고 있습니다.')

존재하지 않은 key에 접근하고 있습니다.

#### <ins>get() 함수</ins>

In [ ]:
dic = {
    'name':'짱구',
    'age': 17,
    'address':'경기도 화성시'
}
key = 'income'

value_for_key = dic.get(key)

if value_for_key != None:
  print(dic[key])
else:
  print('존재하지 않은 key에 접근하고 있습니다.')

존재하지 않은 key에 접근하고 있습니다.

<font color=blue>`get()`함수는 존재 하지 않는 키(key)로 접근했을 때 KeyError를 발생시키지 않고 `None`값을 반환한다.</font>

In [ ]:
dic = {
    'name':'짱구',
    'age': 17,
    'address':'경기도 화성시'
}

key = 'name'

value = dic.get(key)

print(value if value != None else "존재하지 않는 key에 접근하고 있습니다.")

짱구

#### for 반복문: 딕셔너리와 함께 사용하기

```python
for something in dictonary_type_data:
  #code
```  
<font color=blue>위 코드에서 `dictonary_type_data`는 딕셔너리 데이터를 의미한다. `something'은 어떤 값이 들어갈까? key가 할당 될까? value가 할당될까?</font>

```python
lst = [1, 'a', 2, 'b']

for element in lst:
  #code
```

위 코드에서 `element`에는 `lst`의 요소(값)이 할당될 것이다. 그렇다면 `something`에는 키(key)가? 아니면 값(value)가? 아니면 `key:value` 데이터가 들어갈까?

In [ ]:
dictonary_type_data = {
    'name':'짱구',
    'age': 17,
    'address':'경기도 화성시'
}

for something in dictonary_type_data:
  print(something)

name
age
address

<font color=blue>위 코드에서 `something`에는 각 요소에 대한 키(key)이 할당된다는 것을 알 수 있다.</font> 값(value)도 같이 출력하도록 위 코드를 수정해보면 아래와 같다.

In [ ]:
dictonary_type_data = {
    'name':'짱구',
    'age': 17,
    'address':'경기도 화성시'
}

for something in dictonary_type_data:
  print(something, ":", dictonary_type_data[something])

name : 짱구
age : 17
address : 경기도 화성시

#### 범위 자료형과 while 반복문


###for 반복문 : 리스트와 범위 조합하기

```python
lst = [123, 651, 231, 62, 321, 149]

for element in lst:
  print(element)
```

Quiz

 * 리스트 names에서 짝수번째 요소는 요소값에 '안녕하세요'를 붙여서 출력하고 홀수번째 요소에는 요소값에 '반갑습니다'를 붙여서 출력하는 코드 작성

 ```python
 names = ['짱구', '철수', '유리', '맹구', '훈이', '수지']
 ```

In [ ]:
names = ['짱구', '철수', '유리', '맹구', '훈이', '수지']

for index in range(6):
  if index % 2 == 0:
    print(names[index] + ' 안녕하세요')
  else:
    print(names[index] + ' 반갑습니다')

짱구 안녕하세요
철수 반갑습니다
유리 안녕하세요
맹구 반갑습니다
훈이 안녕하세요
수지 반갑습니다

In [ ]:
names = ['짱구', '철수', '유리', '맹구', '훈이', '수지', '짱아']
greeting = ['안녕하세요', '반갑습니다'] * 4

for name, greet in zip (names, greeting):
  print(name, greet)

list(zip(names, greeting))
print(len(names),len(greeting))

짱구 안녕하세요
철수 반갑습니다
유리 안녕하세요
맹구 반갑습니다
훈이 안녕하세요
수지 반갑습니다
짱아 안녕하세요
7 8

#### for 반복문 : 반대로 반복하기

In [ ]:
for i in range(4, -1, -1 ):
  print(i)

4
3
2
1
0

In [ ]:
for i in reversed( range(5) ):
  print(i)

4
3
2
1
0

#### 중첩 반복문으로 피라미드 만들기

In [ ]:
for y in range(1, 6):
  output = ''
  for x in range(y):
    output += '*'
  print(output)

*
**
***
****
*****

In [ ]:
for y in range(5):
  for x in range(y+1):
    print('*', end='')
  print()

*
**
***
****
*****

In [ ]:
for y in range(6):
  for x in range(6-y):
    print(' ', end = '')
  for x in range(y):
    print('*', end = '')
  print()

     *
    **
   ***
  ****
 *****

#### Quiz
다음과 같은 출력되도록 코드를 완성하시오.

<center>

![image.png]()

</center>

In [ ]:
for x in range(14):
  for y in range(14-x):
    print(' ', end = '')
  for y in range(2*x-1):
    print('*', end = '')
  print()

             *
            ***
           *****
          *******
         *********
        ***********
       *************
      ***************
     *****************
    *******************
   *********************
  ***********************
 *************************

#### while 반복문
몇 번 반복해야할지 명확할 때 `for`문을 쓰는 편이고 어떤 조건이 충족되는 동안 계속 반복할 경우는 `while`문을 이용하여 반복 동작을 구현한다. 어떤 경우든 반복 동작을 위해서는 `for`문 또는 `while`문을 사용할 수 있다.

```python
while condition:
  # statement
```

```python
for x in [1, 1, 2]:
  # statement
  pass
```

아래 코드에서 `condition`이 참(`True`)이라면 `print('.')`를 멈추지 않고 계속 반복 수행한다. 멈추지 않고 무한히 반복 수행하는 것을 **무한 루프**라고 한다.

```python
while conditon:
  print('.')
```

###while 반복문: for 반복문처럼 사용하기

In [ ]:
count = 0

# 조건(condition), count < 10가 만족하면 무한히 반복 수행
while count < 10:
  print('{}번째 작업 중입니다.'.format(count))
  count += 1

print('종료')

0번째 작업 중입니다.
1번째 작업 중입니다.
2번째 작업 중입니다.
3번째 작업 중입니다.
4번째 작업 중입니다.
5번째 작업 중입니다.
6번째 작업 중입니다.
7번째 작업 중입니다.
8번째 작업 중입니다.
9번째 작업 중입니다.
종료

#### while 반복문: 상태를 기반으로 반복하기

```python
lst = [1, 2, 3, 3, 4, 5]
```
`lst`에서 값이 3인 요소를 모두 지우려고 한다. `lst.remove(3)`을 실행하면 어떨까?

In [ ]:
lst = [1, 2, 3, 3, 4, 5]
lst.remove(3)
print(lst)

while 3 in lst:
  lst.remove(3)
print(lst)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
[1, 2, 4, 5]

In [ ]:
import random

lst = []
lst += random.sample([1, 2, 3], 2)
lst += random.sample([1, 2, 3], 2)
lst += random.sample([1, 2, 3], 2)
lst += random.sample([1, 2, 3], 2)
print(lst)

while 2 in lst:
  lst.remove(2)
print(lst)

[2, 3, 2, 3, 1, 3, 2, 1]
[3, 3, 1, 3, 1]

#### while 반복문:시간을 기반으로 반복하기
유닉스 타임(Unix Time)이란 세계 표준시(UTC)로 1970년 1월 1일 0시 0분 0초를 기준으로 몇 초가 지났는지를 정수로 나타내는 것을 말한다.

In [ ]:
import time
time.time()

1688106396.8095884

In [ ]:
import time

count = 0

target_time = time.time() + 1

while time.time() < target_time:
  count += 1

print(count)
print( format(count, ',')+'[번]' )           # 처음(?!) 만나는format() 함수
# print(count + '[번]')

4807468
4,807,468[번]

#### while 반복문:break 키워드/continue 키워드
반복문(`for`, `while`)의 <font color=gray>(범위, 영역)</font> 내에서만 사용할 수 있는 `break`와 `continue`라는 특별한 키워드가 있다. `break`는 프로그램 흐름이 자신(`break`)을 감싸고 있는 반복문을 하나 벗어나게 한다. `continue`를 만나면  **다음 반복 동작**으로 넘어간다.

<br>

주사위를 던져서 숫자를 확인할 것이다. 주사위를 던져서 숫자 확인 반복적으로 하는데, 6이 나오면 반복 잡업을 멈추게 하겠다. 이 때 `break`문을 사용한다.

In [ ]:
import random

random.seed(16)

while True:
  dice = random.randint(1, 6)
  if dice == 6:
    print('{}이 출력되어 게임을 멈춤니다.'.format(dice))
    break;
  else:
    print('{}이 나왔네요. 6이 나올 때까지 다시 시도합니다'.format(dice))

3이 나왔네요. 6이 나올 때까지 다시 시도합니다
4이 나왔네요. 6이 나올 때까지 다시 시도합니다
4이 나왔네요. 6이 나올 때까지 다시 시도합니다
3이 나왔네요. 6이 나올 때까지 다시 시도합니다
4이 나왔네요. 6이 나올 때까지 다시 시도합니다
2이 나왔네요. 6이 나올 때까지 다시 시도합니다
4이 나왔네요. 6이 나올 때까지 다시 시도합니다
1이 나왔네요. 6이 나올 때까지 다시 시도합니다
4이 나왔네요. 6이 나올 때까지 다시 시도합니다
6이 출력되어 게임을 멈춤니다.

In [ ]:
nni = 0
while True:
  print('{}번째 청소를 시작합니다.'.format(i+1))
  print('{}번째 청소 중입니다.'.format(i+1))
  print('{}번째 청소를 마쳤습니다.'.format(i+1))
  a_u_ok = input('청소 상태가 마음에 드시나요. 청소를 종료할까요?(y/n) : ')
  if a_u_ok in ['y', 'Y']:
    print('청소를 종료합니다.')
    break
  i += 1

1번째 청소를 시작합니다.
1번째 청소 중입니다.
1번째 청소를 마쳤습니다.
청소 상태가 마음에 드시나요. 청소를 종료할까요?(y/n) : ㅕ
2번째 청소를 시작합니다.
2번째 청소 중입니다.
2번째 청소를 마쳤습니다.
청소 상태가 마음에 드시나요. 청소를 종료할까요?(y/n) : u
3번째 청소를 시작합니다.
3번째 청소 중입니다.
3번째 청소를 마쳤습니다.
청소 상태가 마음에 드시나요. 청소를 종료할까요?(y/n) : n
4번째 청소를 시작합니다.
4번째 청소 중입니다.
4번째 청소를 마쳤습니다.
청소 상태가 마음에 드시나요. 청소를 종료할까요?(y/n) : n
5번째 청소를 시작합니다.
5번째 청소 중입니다.
5번째 청소를 마쳤습니다.
청소 상태가 마음에 드시나요. 청소를 종료할까요?(y/n) :
6번째 청소를 시작합니다.
6번째 청소 중입니다.
6번째 청소를 마쳤습니다.
청소 상태가 마음에 드시나요. 청소를 종료할까요?(y/n) :
7번째 청소를 시작합니다.
7번째 청소 중입니다.
7번째 청소를 마쳤습니다.
청소 상태가 마음에 드시나요. 청소를 종료할까요?(y/n) : y
청소를 종료합니다.

```python
fish_length = [14, 15.5, 13.5, 23.5, 28.5, 26.0, 12, 32, 29, 14.5]
fish_weight = [100, 150, 140, 250, 300, 280, 80, 315, 220, 90]
```

In [ ]:
fish_length = [14, 15.5, 13.5, 23.5, 28.5, 26.0, 12, 32, 29, 14.5]
fish_weight = [100, 150, 140, 250, 300, 280, 80, 315, 220, 90]

print('물고기는 총 {} 마리입니다.'.format(len(fish_length)), end='\n\n')

for idx in range( len(fish_length) ):
  if fish_length[idx] < 23.0:
    continue
    # codes.....
    # 위 continue 아래에 있는 코드(codes....)는 무의미
  else:
    print('길이가 {}[cm]이고 무게가 {}[g]이군요'.format(fish_length[idx], fish_weight[idx]))
    print('이 물고기 손질을 마쳤습니다.', end='\n\n')

물고기는 총 10 마리입니다.

길이가 23.5[cm]이고 무게가 250[g]이군요
이 물고기 손질을 마쳤습니다.

길이가 28.5[cm]이고 무게가 300[g]이군요
이 물고기 손질을 마쳤습니다.

길이가 26.0[cm]이고 무게가 280[g]이군요
이 물고기 손질을 마쳤습니다.

길이가 32[cm]이고 무게가 315[g]이군요
이 물고기 손질을 마쳤습니다.

길이가 29[cm]이고 무게가 220[g]이군요
이 물고기 손질을 마쳤습니다.

#### Quiz
 * 손질한 생선은 몇 마리인가?

In [ ]:
fish_length = [14, 15.5, 13.5, 23.5, 28.5, 26.0, 12, 32, 29, 14.5]
fish_weight = [100, 150, 140, 250, 300, 280, 80, 315, 220, 90]
count = 0
print('물고기는 총 {} 마리입니다.'.format( len(fish_length) ), end='\n\n')

for idx in range( len(fish_length) ):
  if fish_length[idx] < 23.0:
    continue
    # codes.....
    # 위 continue 아래에 있는 코드(codes....)는 무의미
  else:
    print('길이가 {}[cm]이고 무게가 {}[g]이군요'.format(fish_length[idx], fish_weight[idx]))
    print('이 물고기 손질을 마쳤습니다.', end='\n\n')
    count += 1

print(f'총 {count}마리 손질했습니다.')

물고기는 총 10 마리입니다.

길이가 23.5[cm]이고 무게가 250[g]이군요
이 물고기 손질을 마쳤습니다.

길이가 28.5[cm]이고 무게가 300[g]이군요
이 물고기 손질을 마쳤습니다.

길이가 26.0[cm]이고 무게가 280[g]이군요
이 물고기 손질을 마쳤습니다.

길이가 32[cm]이고 무게가 315[g]이군요
이 물고기 손질을 마쳤습니다.

길이가 29[cm]이고 무게가 220[g]이군요
이 물고기 손질을 마쳤습니다.

총 5마리 손질했습니다.

#### 튜플(tuple)
 * 리스트와 마찬가지로 여러 항목의 시퀀스(나열)
 * 리스트와 달리 튜플은 불변
  - 튜플은 정의 한 후에 추가, 삭제, 수정할 수 없음

#### 튜플 생성

In [ ]:
#빈 튜플 생성
e_tuple = ()

In [ ]:
# 튜플 생성
x_tuple = ('kim', 'sung', 'pil')
y_tuple = ('kim', 'sung', 'pil', 25, [1, 2, 'a'])     # 리스트와 마찬가지로 여러 항목의 시퀀스(나열)
z_tuple = 'kim', 'sung', 'pil'                        # 튜플임을 알리는 소관호 생략 가능

In [ ]:
# 문자열과 튜플
a_string = 'kim'
a_tuple = 'kim',      # 요소 하나면 , 사용해서 튜플임을 알림
b_tuple = ('kim',)

print( type(a_string) )
print( type(a_tuple) )
print( type(b_tuple) )

print( a_tuple == b_tuple )

<class 'str'>
<class 'tuple'>
<class 'tuple'>
True

### 튜플 언패킹(tuple unpacking)

In [ ]:
x_tuple = ('sung pil', 'kim')
first_name, last_name = x_tuple

print(first_name)     # 이름
print(last_name)      # 성

sung pil
kim

###튜플 언패킹을 통한 값 교환

In [ ]:
x = 'Lee younghyn'
y = 'Lee jaeeun'

y, x = (x, y)         # y, x = ('Lee younghyn',' Lee jaeeun')

print('x:', x)
print('y:', y)

x: Lee jaeeun
y: Lee younghyn

### 튜플로 형변환

In [ ]:
lst = ['one', 'two', 'three', 4]
t = tuple(lst)
print(t)

('one', 'two', 'three', 4)

## Quiz
아래와 같이 튜플을 요소로 하는 리스트를 생성하는 코드를 작성하시오.
```python
lst = [ (0,0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), ... (2, 3)]
```
![image.png]()

In [ ]:
lst = []

for row in range(3):
  for col in range(4):
    lst.append((row, col))

print(lst)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]

#### 문자열, 리스트, 딕셔너리와 관련된 기본 함수

##### 리스트에 적용할 수 있는 기본 함수 : min(), max(), sum()

In [ ]:
lst = [1, 2, 3, 100, -12, 55]
print( max(lst) )
print( min(lst) )
print( sum(lst) )

100
-12
149

#### reversed() 함수로 리스트 뒤집기

In [ ]:
lst = [0, 1, 2, 3, 4]

print( list( reversed(lst) ) )    # reversed(list) -> not list

[4, 3, 2, 1, 0]

#### enumerate() 함수와 반복문 조합하기

<font color=blue>리스트에 대해 각 요소를 가지고 반복적인 작업을 수행하는 경우 현재 처리하고 있는 요소가 몇 번째인지 즉 요소의 인덱스를 알수 있도록 `enumerate()` 함수를 제공한다.</font>

In [ ]:
lst = ['성분A', '성분B', '성분C']

print( enumerate(lst), end='\n\n')

print(list(enumerate(lst)), end='\n\n')

for (idx, element) in enumerate(lst):
  print('{}번째 요소는 {}입니다.'.format(idx, element))

<enumerate object at 0x7f21eaa42ac0>

[(0, '성분A'), (1, '성분B'), (2, '성분C')]

0번째 요소는 성분A입니다.
1번째 요소는 성분B입니다.
2번째 요소는 성분C입니다.

#### 딕셔너리의 item() 함수와 반복문 조합하기

`enumerate()`함수와 반복문을 함께 사용해서 `for i, value in enumarate(리스트):`형태로 반복문을 활용했던 것처럼 <font color=blue>딕셔너리는 `items()` 함수를 사용하여 키(key)와 값(value)을 동시에 접근하면서 반복문을 구현할 수 있다.</font>

In [ ]:
dic ={
    'nick_name':'ship',
    'height': 176.5,
    'weight': 75,
    'blood_type': 'B',
    'address':'경기도 화성시'
}

print( dic )
print( dic.items() )
print( type(dic.items()), end='\n\n' )      # <class 'dict_items'> Python에서는 다양한 데이터 형(태)가 있음.

for key, value in dic.items():
  print('{}:{}'.format(key, value))

{'nick_name': 'ship', 'height': 176.5, 'weight': 75, 'blood_type': 'B', 'address': '경기도 화성시'}
dict_items([('nick_name', 'ship'), ('height', 176.5), ('weight', 75), ('blood_type', 'B'), ('address', '경기도 화성시')])
<class 'dict_items'>

nick_name:ship
height:176.5
weight:75
blood_type:B
address:경기도 화성시

#### 리스트 내포

데이터를 리스트 형태로 처리하는 경우가 많다. 필요에 따라 다양한 요소를 갖는 리스트를 만들게 되는데 예를 들어 0부터 10사이에 있는 정수의 제곱 값을 요소로 하는 리스트가 필요하다고 가정하겠다. 어떻게 코드를 짜야할까?

In [ ]:
target_list =[]

for element in range(0, 10, 2):
  target_list.append( element ** 2 )

print(target_list)

[0, 4, 16, 36, 64]

In [ ]:
topping_list = ['고구마', '베이컨', '불고기', '새우', '버섯', '감자', '햄']

order = [topping + ' 듬뿍'
         for topping in topping_list
          if topping != '감자'
        ]

print(order)

['고구마 듬뿍', '베이컨 듬뿍', '불고기 듬뿍', '새우 듬뿍', '버섯 듬뿍', '햄 듬뿍']

###Quiz
아래 보인 lst와 같은 리스트를 생성하기 위한 코드를 작성하는데, 리스트 내포를 이용해서 작성하시오.

```python
lst = [ (0,0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), ... (2, 3)]
```

In [ ]:
lst = [(i, j) for i in range(3) for j in range(4)]

print(lst)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0), (2, 1), (2, 2), (2, 3)]



#### if 조건문과 여러 줄 문자열(1) - <ins>문자열의 join() 함수</ins>
문자열의 `join()` 함수로 해결하는 경우도 있다. `join()` 함수는 다음과 같은 형태로 사용한다.

```python
문자열.join(문자열로_구성된_리스트)
```
`join()` 함수는 리트의 요소를 문자열로 연결한다.

#### 좀 더 알아보기(2) - 이터레이터

```python
for 반복자 in 반복할_수_있는_것:
  #statement(문장)
```

**이터러블(iterable)**: `반복할_수_있는_것`을 프로그래밍 용어. 즉 이터러블은 내부에 있는 요소를 하나씩 꺼낼 수 있는 객체를 의미힌다. 리스트, 딕셔너리, 문자열, 튜플 등은 모두 내부에서 요소를 하나씩 꺼낼 수 있으므로 이터러블이다.

```python
for 반복자 in 이터러블:
  # statement(문장)
```

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
r_num = reversed(numbers)

print("r_num returned from reversed() : ", r_num)
print(next(r_num))      # next() 이용하여 호출하면 리스트 안 요소는 하나씩 제거
print(next(r_num))
print(next(r_num))
print(next(r_num))
print(next(r_num))
print(next(r_num))

r_num returned from reversed() :  <list_reverseiterator object at 0x7f1bc7be1d60>
6
5
4
3
2
1

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
r_numbers = reversed(numbers)
print( list(r_numbers) )

for num in r_numbers:
    print(num)
    print( list(r_numbers) )

print('end')

[6, 5, 4, 3, 2, 1]
end

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
r_numbers = reversed(numbers)

for i in range(len(numbers)):
    print( next(r_numbers) )   # next()함수에 의해 r_number 요소 제거

print( list(r_numbers) )
print('end')

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
r_numbers = reversed(numbers)
for i in range(3):
  print(next(r_numbers))

print('-------------------')
print(list(r_numbers))
print('-------------------')

for i in range(3):
  print(next(r_numbers))

print('end')

6
5
4
-------------------
[3, 2, 1]
-------------------

StopIteration: ignored